body {
    margin: 0px;
    padding: 0px;
    margin-bottom: 8vw;
    /*    background-color: rgb(245,243,229);*/
    /*    background-color: #fbf7ee;*/
}

h1, h2, h3, p {
    font-family: times-new-roman, serif;
}

h1 {
    font-size: 1.2vw;
    font-weight: 100;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h3 {
    font-size: .8vw;
    font-weight: 100;
    padding-top: 2vw;
    letter-spacing: .02vw;
}

p {
    font-size: 1.1vw;
    margin-top: 5px;
}

a {
    font-style: italic;
    font-size: 1.2vw;
    font-weight: 100;
    /*    text-transform: capitalize;*/
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a:link, a:visited {
    color:black;} a:link, a:visited {text-decoration:none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}



img {
    width: 100%;
}


/*top navigation*/

.top_nav {
    position: fixed;
    left: 0px;
    top: 0px;
    margin-top: 1.7vw;
    margin-left: 20px;
}

.nav {
    position: fixed;
    right: 0px;
    top: 0px;
    margin-top: 1.7vw;
    margin-right: 20px;
    text-align: right;
}


/*image grid*/

.images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
}

.images div:nth-child(1) {

    grid-column-start: 7;
    grid-column-end: 9;
}

.images div:nth-child(2) {

    padding-top: 5vw;
    grid-column-start: 4;
    grid-column-end: 7;
}

.images div:nth-child(3) {

    padding-top: 5vw;
    grid-column-start: 2;
    grid-column-end: 6;
}